<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/orders.css" />

<body>
  <div class="products-container">
    <div class="navbar">
      <div class="navigation-menu">
        <div class="brand-logo">
          <a href="/admin"
            ><img src="/img/coffeebuy-logo.svg" alt="brand-logo"
          /></a>
        </div>
        <ul class="nav">
          <li class="nav-item" style="cursor: pointer">
            <a class="nav-link active" href="/admin" style="font-size: 22px"
              >Home</a
            >
          </li>
          <% if(!member) { %>
          <li class="nav-item" style="cursor: pointer">
            <a class="nav-link navbar-button" href="/admin/signup">Signup</a>
          </li>
          <li class="nav-item" style="cursor: pointer">
            <a class="nav-link navbar-button" href="/admin/login">Login</a>
          </li>
          <% } else { %>
          <li class="nav-item" style="cursor: pointer">
            <a class="nav-link" href="/admin/product/all">Products</a>
          </li>
          <li class="nav-item" style="cursor: pointer">
            <a class="nav-link" href="/admin/user/all">Members</a>
          </li>
          <li class="nav-item" style="cursor: pointer">
            <a class="nav-link" href="/admin/order/all">Orders</a>
          </li>
          <li
            class="nav-item"
            style="cursor: pointer"
            onclick="return confirm('Do you want to logout?')"
          >
            <a class="nav-link" href="/admin/logout">Logout</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    

    <div class="restaurant-menu-frame">
      <div class="board">
        <div class="dishes-table-head">
          <div class="table-title">
            <h3>Orders List</h3>
            <p>Home > Orders List</p>
          </div>
        </div>
        <div class="dishes-table">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">T/r</th>
                <th scope="col">User</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Amount</th>
                <th scope="col">OrderId</th>
              </tr>
            </thead>
            <% orders.map(function(value, key) { %>
            <tbody>
              <td><%= key + 1 %></td>
              <td><%= value.memberData[0].memberNick %></td>
              <td><%= moment(value.createdAt).format("YYYY-MM-DD HH:mm") %></td>
              <td>
                <select class="spec-select order-status" id="<%= value._id %>">
                  <option value="PAUSE" <%= value.orderStatus === 'PAUSE' ? 'selected' : '' %>>PAUSE</option>
                  <option value="PROCESS" <%= value.orderStatus === 'PROCESS' ? 'selected' : '' %>>PROCESS</option>
                  <option value="FINISH" <%= value.orderStatus === 'FINISH' ? 'selected' : '' %>>FINISH</option>
                </select>
              </td>
              <td><%= value.orderTotal %>$</td>
              <td><%= value._id %></td>
            </tbody>
            <% }) %>
          </table>
        </div>
        <nav aria-label="Search results pages">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/orders.js"></script>
</body>

<%- include('includes/footer') %>
